<app-navbar></app-navbar>
<br>
<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a routerLink="/product/Vehicles/all">Vehicles</a>
        <ul class="dropdown">
          <li><a routerLink="/product/Vehicles/Car">Car</a></li>
          <li><a routerLink="/product/Vehicles/Bike">Bike</a></li>
          <li><a routerLink="/product/Vehicles/Commercial">Commercial</a></li>
          <li><a routerLink="/product/Vehicles/Bicycle">Bicycle</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/product/Electronics/all">Electronics</a>
        <ul class="dropdown">
          <li><a routerLink="/product/Electronics/Mobile">Mobiles</a></li>
          <li><a routerLink="/product/Electronics/Homeappliance">Home Appliances</a></li>
          <li><a routerLink="/product/Electronics/Computer">Computers</a></li>
          
        </ul>
      </li>
      <li>
        <a routerLink="/product/Furnitures/all">Furniture</a>
        <ul class="dropdown">
          <li><a routerLink="/product/Furnitures/Table">Tables</a></li>
          <li><a routerLink="/product/Furnitures/Chair">Chairs</a></li>
          <li><a routerLink="/product/Furnitures/Sofa">Sofas</a></li>
          <li><a routerLink="/product/Furnitures/Bed">Beds</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/product/RealEstate/all">Real Estate</a>
        <ul class="dropdown">
          <li><a routerLink="/product/RealEstate/House">House</a></li>
          <li><a routerLink="/product/RealEstate/Hotel">Hotels</a></li>
          <li><a routerLink="/product/RealEstate/Land">Land</a></li>
          <li><a routerLink="/product/RealEstate/Shop">Shops</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!-- Carousel Section -->
<div class="container-xl">
  <h3>Turning old into new – where every item finds a new home.</h3>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
  
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm-4">
            <div class="thumb-wrapper">
              <div class="img-box">
                <img src="https://th.bing.com/th/id/R.9989431eeaafceff71305ff21604840a?rik=ZuiBjLVkrmaDng&riu=http%3a%2f%2fwww.bikes4sale.in%2fphotos%2f26892_1275594153.jpg&ehk=JS3g%2fbi1jqtKh8qeb3WjqKghlIC54WmrHPLwVOrmtV0%3d&risl=&pid=ImgRaw&r=0" alt="Image" class="img-fluid">
              </div>
              <!-- <div class="thumb-content">
                <h4>Product 1</h4>
                <p class="item-price"><span>$369.00</span></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>						 -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumb-wrapper">
              <div class="img-box">
                <img src="https://www.ineedamobile.com/wp-content/uploads/2018/04/Refurbished-Mobile-Phones.png" alt="Image" class="img-fluid">
              </div>
              <!-- <div class="thumb-content">
                <h4>Product 2</h4>
                <p class="item-price"> <span>$299.00</span></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>						 -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumb-wrapper">
              <div class="img-box">
                <img src="https://www.telegraph.co.uk/cars/images/2017/01/09/polo-1-xlarge_trans_NvBQzQNjv4Bq_015gmpDOnvmuD2JZwtaroomTj88WdY2P2SQrh9RBYw.jpg" alt="Image" class="img-fluid">
              </div>
              <!-- <div class="thumb-content">
                <h4>Product 3</h4>
                <p class="item-price"><span>$399.00</span></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>						 -->
            </div>
          </div>						
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-4">
            <div class="thumb-wrapper">
              <div class="img-box">
                <img src="https://apollo.olx.in/v1/files/1qdjcfu67mu61-IN/image;s=780x0;q=60" alt="Image" class="img-fluid">
              </div>
              <!-- <div class="thumb-content">
                <h4>Product 4</h4>
                <p class="item-price"> <span>$449.00</span></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>						 -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumb-wrapper">
              <div class="img-box">
                <img src="https://apollo.olx.in/v1/files/zemcfyu0xqve1-IN/image;s=1080x1080" alt="Image" class="img-fluid">
              </div>
              <!-- <div class="thumb-content">
                <h4>Product 5</h4>
                <p class="item-price"><span>$549.00</span></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>						 -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumb-wrapper">
              <div class="img-box">
                <img src="https://apollo.olx.in/v1/files/tljnmrv0kr3x-IN/image;s=780x0;q=60" alt="Image" class="img-fluid">
              </div>
              <!-- <div class="thumb-content">
                <h4>Product 6</h4>
                <p class="item-price"><span>$649.00<br>Seller -Museb</span></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>						 -->
            </div>
          </div>						
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-4">
            <div class="thumb-wrapper">
              <div class="img-box">
                <img src="https://apollo.olx.in/v1/files/cto91y6up8xc3-IN/image;s=780x0;q=60" alt="Image" class="img-fluid">
              </div>
              <!-- <div class="thumb-content">
                <h4>Product 4</h4>
                <p class="item-price"> <span>$449.00</span></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>						 -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumb-wrapper">
              <div class="img-box">
                <img src="https://apollo.olx.in/v1/files/0fcvd8fvr0ou1-IN/image;s=780x0;q=60" alt="Image" class="img-fluid">
              </div>
              <!-- <div class="thumb-content">
                <h4>Product 5</h4>
                <p class="item-price"><span>$549.00</span></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>						 -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumb-wrapper">
              <div class="img-box">
                <img src="https://apollo.olx.in/v1/files/bxqxv0itavsr1-IN/image;s=780x0;q=60" alt="Image" class="img-fluid">
              </div>
              <!-- <div class="thumb-content">
                <h4>Product 6</h4>
                <p class="item-price"><span>$649.00</span></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>						 -->
            </div>
          </div>						
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>