<main class="container my-5">
    <div class="row">
      <aside class="col-md-3">
        <div class="list-group">
          <h4 class="list-group-item list-group-item-action active">Articles in this section</h4>
          <a href="#" class="list-group-item list-group-item-action">Customer Support Details</a>
        </div>
      </aside>
      <article class="col-md-9">
        <div class="card mb-4">
          <div class="card-body">
            <h1 class="card-title">Customer Support Details</h1>
            <a href="#" class="btn btn-outline-info mb-3 ">Follow</a>
            <div>
              <p>Please reach out to us on the below mentioned details</p>
              <p><strong>Support Helpline</strong></p>
              <p>Number: <a href="tel:18602583333">1860-258-3333</a></p>
              <p>Email Address: <a href="">support&#64;olx.in</a></p>
              <p><strong>Safety Helpline:</strong></p>
              <p>Number: <a href="tel:9999140999">9999140999</a></p>
              <p>Email Address: <a href="">safety&#64;olx.in</a></p>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body text-center">
            <h2 class="card-title">Can't find what you're looking for?</h2>
            <a href="#" class="btn btn-outline-info">Write to us</a>
            <div class="mt-4">
              <a href="tel:18602583333" class="btn btn-outline-info">Support Helpline</a>
              <p class="mb-0">* Phone support hours: 10:00 a.m to 7:00 p.m - All days</p>
              <a href="tel:9999140999" class="btn btn-outline-info mt-2">Safety Helpline</a>
              <p class="mb-0">* Phone support hours: 10:00 a.m to 7:00 p.m - All days</p>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">Related articles</h3>
            <ul class="list-group">
              <li class="list-group-item"><a href="#" routerLink="terms">Why is my account banned?</a></li>
              <li class="list-group-item"><a href="#" routerLink="terms">Terms of Use</a></li>
              <li class="list-group-item"><a href="#" routerLink="terms">Trouble Shooting Steps - Spam on Customer Support Email</a></li>
              <li class="list-group-item"><a href="#" routerLink="terms">New OLX chat</a></li>
              <li class="list-group-item"><a href="#" routerLink="terms">Technical Issue(s) Troubleshooting - App</a></li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <a href="#" class="btn btn-outline-info mt-2">Return to top</a>
        </div>
      </article>
    </div>
  </main>
