<nav class="navbar navbar-expand-lg navbar-dark">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">SELLHUB</a>

    

    <!-- Right links -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light" routerLink="register">Signup</button>
        </li>
      </ul>
    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->