<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<footer class="footer  py-4">
    <div class="container">
      <div class="row">
        <!-- Popular Locations -->
        <div class="col-md-2">
          <h5>POPULAR LOCATIONS</h5>
          <ul class="list-unstyled">
            <li><a href="#">Kolkata</a></li>
            <li><a href="#">Mumbai</a></li>
            <li><a href="#">Chennai</a></li>
            <li><a href="#">Pune</a></li>
          </ul>
        </div>
  
        <!-- Trending Locations -->
        <div class="col-md-2">
          <h5>TRENDING LOCATIONS</h5>
          <ul class="list-unstyled">
            <li><a href="#">Bhubaneshwar</a></li>
            <li><a href="#">Hyderabad</a></li>
            <li><a href="#">Chandigarh</a></li>
            <li><a href="#">Nashik</a></li>
          </ul>
        </div>
  
        <!-- About Us -->
        <div class="col-md-2">
          <h5>ABOUT US</h5>
          <ul class="list-unstyled">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Tech&#64;OLX</a></li>
          </ul>
        </div>
  
        <!-- OLX Links -->
        <div class="col-md-2">
          <h5>SellHub</h5>
          <ul class="list-unstyled">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Legal & Privacy Information</a></li>
            <li><a href="#">Vulnerability Disclosure Program</a></li>
          </ul>
        </div>
  
        <!-- Follow Us -->
        <!-- Follow Us Section -->
        <div class="col-md-4">
            <h5>Follow Us</h5>
            <ul class="social-media list-unstyled">
              <li>
                <a href="#" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon">
                  <i class="fab fa-google-play"></i>
                </a>
              </li>
              <li>
                <a href="#" class="social-icon">
                  <i class="fab fa-app-store"></i>
                </a>
              </li>
            </ul>
          </div>
          <br>
          <div class="row">
            <div class="text-center">
              <p>All rights reserved © 2006-2024 OLX</p>
            </div>
          </div>
          
      </div>
    </div>
  </footer>
